<div id="lessons-submenu" class="hidden pl-6 space-y-1">
  <% lessons.forEach(lesson => { %>
    <a href="/lessons/<%= lesson._id %>" 
       class="block px-4 py-2 rounded-lg text-sm text-gray-600 hover:bg-gray-100">
       <%= lesson.title %>
    </a>
  <% }) %>
</div>
